{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h2 class="mb-4">Детали объекта</h2>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ patient.first_name }} {{ item.last_name }}</h5>
        <p class="card-text">Пол: {{ patient.get_gender_display }}</p>
        <p class="card-text">Возраст: {{ patient.age }}</p>
        <p class="card-text">Адрес: {{ patient.address }}</p>
      </div>
      <div class="card-footer">
        <a href="{% url 'users:patients-list' %}" class="btn btn-secondary">Назад к списку пациентов</a>
        <a href="{% url 'users:patient-update' pk=patient.pk %}" class="btn btn-info">Редактировать</a>
      </div>
    </div>
  </div>
{% endblock %}