{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h2 class="mb-4">Список отделений</h2>

    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Название</th>
        <th scope="col">Этаж</th>
        <th scope="col">Количество комнат</th>
        <th scope="col">Руководитель отделения</th>
      </tr>
      </thead>
      <tbody>
      {% for department in departments %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>
            <a href="{% url 'polyclinic:detail' department.id %}" class="text-decoration-none text-dark">{{ department.name }}</a>
          </td>
          <td>{{ department.floor }}</td>
          <td>{{ department.rooms_qty }}</td>
          <td>
            <a href="{% url 'users:doctor-detail' department.leader.id %}" class="text-decoration-none text-dark">{{ department.leader.get_full_name }}</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}